.list {
  width: 100%;
}

.list-item {
  width: calc(100% - 20px);
  height: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item:hover {
  background-color: lightgray;
}

.list-item-text {
  position: relative;
  font-size: 1.5rem;
}

.list-item-text-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  max-width: 0;
  height: 2px;
  background-color: black;
  transition: 0.2s;
}

.list-item-check,
.list-item-remove {
  cursor: pointer;
  font-size: 1.3rem;
}

.list-item-check {
  position: relative;
}

.list-item-check:hover {
  color: #0000c8;
}

.list-item-check-line-one {
  width: 50%;
  position: absolute;
  transform: rotate(135deg);
  top: 50%;
}

.list-item-check-line-two {
  width: 50%;
  position: absolute;
  transform: rotate(45deg);
  top: 50%;
}

.list-item-check-line-two > div {
  transition-delay: 0.2s;
}

.list-item-check-line {
  width: 100%;
  height: 2px;
  max-width: 0;
  background-color: #c80000;
  transition: 0.2s;
}

.list-item-remove:hover {
  color: #c80000;
}
